<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">ユーザー一覧</h1>
    
    <%= will_paginate  %>
    
    
    <%= render partial: "layouts/search_form", locals:{path: users_index_path, model_name: "ユーザー"} %>
    
    <% @users.each do |user| %>
      <%= render partial: "users/users_item", locals:{user: user} %>
    <% end %>
    
    <%= will_paginate %>
    
  </div>
</div>