<div class="about-main">
  <h2>About</h2>
  <p>
    <br>
    本アプリケーションは <a href="https://railstutorial.jp/"　target="_blank">Ruby on Rails Tutorial</a>,
    <a href="https://prog-8.com/"　target="_blank">Progate</a> Ruby on Rails5レッスンを参考に作成された <br>
    twitter風投稿型SNSアプリケーションです。<br>
    Rails Tutorialから以下のような機能を拡張しています。<br><br>
    
    <検索機能><br>
    ユーザー一覧、投稿一覧においてそれぞれ特定の文字列を含むユーザー、投稿を検索することができます。<br><br>
    
    <いいね！機能><br>
    各投稿の詳細ページから、その投稿に対してお気に入り登録をすることができます。<br>
    自分が「いいね！」している投稿は投稿詳細ページのハートが赤く表示されます。<br>
    各ユーザーが「いいね！」している投稿は、各ユーザーページの「いいね！」欄に表示されます。<br><br>
    
    <モーダル機能><br>
    新規投稿では投稿用ページではなく、モーダルウィンドウで投稿フォームが表示されます。<br><br>
    <br>
    
    
    *アプリケーションの利用にはログインが必要です。<br>
    適当なメールアドレス（架空のもので構いません）で新規ユーザー登録していただくか、<br>
    次のサンプルユーザーアカウントでログインしてください。<br><br>
    name:  Example User <br>
    email: example@railstutorial.org <br>
    password: foobar <br>
    <br><br>
    *ユーザー一覧では登録順にユーザーが表示されます。上記ユーザーを含めた上から71人のユーザーは、<br>
    テストのため自動生成されたユーザーアカウントです。
    
    
</div>